h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  background-color: white;
}

nav {
  background-color: #432534;
  color: #fcb9b2;
  font-size: 30px;
  position: fixed;
  z-index: 3;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  top: 0;
  left: 0;
}

.links a {
  color: #fcb9b2;
  text-decoration: none;
  margin-top: 25px;
}

.links a:hover {
  color: #e71d36;
  border-style: solid;
  border-color: #e71d36;
  border-radius: 10px;
  padding: 5px;
}

.links ul {
  text-decoration: none;
  list-style: none;
}

.links li {
  position: relative;
  top: 12px;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 15%;
  float: left;
}

.logo img {
  position: relative;
  top: -26px;
  right: -300px;
  display: inline-block;
  max-width: 25%;
  width: 150px;
  background-color: white;
  border-style: solid;
  border-radius: 75px;
}

main {
  margin-top: 140px;
}

h2 {
  font-size: 32px;
  text-align: center;
}

main p,
main ul {
  display: inline-block;
  font-size: 18px;
  float: left;
  margin: 50px;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #e71d36;
  background-color: #fed0bb;
  max-width: 55%;
}

.open p {
  text-align: center;
  display: block;
  max-width: 33%;
  align-content: center;
  float: none;
  margin: auto;
}

main img {
  display: inline-block;
  float: right;
  max-width: 500px;
  max-height: 500px;
}

#tetitle {
  float: left;
  margin: 0;
  margin-left: 50px;
}

.teto {
  margin: 0;
}

.teto p {
  position: relative;
  top: -80px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.teto ul {
  list-style-type: none;
  margin-top: -40px;
  margin-bottom: 125px;
}

.teto li {
  display: inline-block;
  padding: 10px;
  padding-top: 0px;
  max-width: 47%;
}

.teto iframe {
  position: relative;
  top: -10px;
  left: 35px;
  border-radius: 10px;
}

#SVTeto {
  position: absolute;
  top: 575px;
  right: 250px;
}

#utauTeto {
  position: absolute;
  top: 1050px;
  right: 475px;
}

#VPTeto {
  position: absolute;
  top: 1050px;
  right: 50px;
}

.rei h3 {
  font-size: 80px;
  margin-left: 50px;
}

.rei p {
  position: relative;
  top: -40px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.rei ul {
  list-style-type: none;
  margin-top: -5px;
  margin-bottom: 125px;
}

.rei li {
  display: inline-block;
  padding: 10px;
  padding-top: 0px;
  max-width: 47%;
}

.rei iframe {
  position: relative;
  top: -10px;
  left: 35px;
  border-radius: 10px;
}

#adachiRei {
  position: absolute;
  top: 2000px;
  right: 250px;
}

.defoko h3 {
  font-size: 80px;
  margin-left: 50px;
}

.defoko p {
  position: relative;
  top: -40px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.defoko ul {
  list-style-type: none;
  margin-top: -5px;
  margin-bottom: 125px;
}

.defoko li {
  display: inline-block;
  padding: 10px;
  padding-top: 0px;
  max-width: 47%;
}

.defoko iframe {
  position: relative;
  top: -10px;
  left: 35px;
  border-radius: 10px;
}

#utaUtane {
  position: absolute;
  top: 3150px;
  right: 250px;
}

.ralsei h3 {
  font-size: 80px;
  margin-left: 50px;
}

.ralsei p {
  position: relative;
  top: -40px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.ralsei ul {
  list-style-type: none;
  margin-top: -5px;
  margin-bottom: 125px;
}

.ralsei li {
  display: inline-block;
  padding: 10px;
  padding-top: 0px;
  max-width: 47%;
}

.ralsei iframe {
  position: relative;
  top: -10px;
  left: 35px;
  border-radius: 10px;
}

#ralseiPixel {
  position: absolute;
  top: 4500px;
  right: 550px;
}

#ralseiArt {
  position: absolute;
  top: 4600px;
  right: 250px;
}

span {
  position: relative;
  left: 50px;
}

span a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

ul {
  display: block;
}

.break {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #432534;
  position: absolute;
  bottom: -4250px;
  left: 0;
  width: 100%;
  height: 50px;
}

footer p {
  text-align: center;
  color: aliceblue;
}
