h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  background-color: #f4f4ff;
}

nav {
  background-color: #666a86;
  color: aliceblue;
  font-size: 30px;
  position: fixed;
  z-index: 3;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  top: 0;
  left: 0;
}

.links a {
  color: aliceblue;
  text-decoration: none;
  margin-top: 25px;
}

.links a:hover {
  color: #e71d36;
  border-style: solid;
  border-color: #e71d36;
  border-radius: 10px;
  padding: 5px;
}

.links ul {
  text-decoration: none;
  list-style: none;
}

.links li {
  position: relative;
  top: 12px;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 15%;
  float: left;
}

.logo img {
  position: relative;
  top: -15px;
  right: -300px;
  display: inline-block;
  max-width: 25%;
  width: 225px;
}

main {
  margin-top: 140px;
}

h2 {
  font-size: 32px;
  position: absolute;
  top: 150px;
  left: 100px;
}

main p {
  position: relative;
  top: 75px;
  left: 25px;
  display: inline-block;
  font-size: 18px;
  float: left;
  margin: 50px;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #666a86;
  background-color: white;
  max-width: 55%;
  min-height: 500px;
}

main img {
  display: inline-block;
  width: 350px;
  float: right;
  margin-right: 8%;
  margin-top: 120px;
}

footer {
  background-color: #666a86;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

footer p {
  text-align: center;
  color: aliceblue;
}
