h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  background-color: #f4f4ff;
}

nav {
  background-color: #666a86;
  font-size: 30px;
  position: fixed;
  z-index: 3;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  top: 0;
  left: 0;
}

.links a {
  color: aliceblue;
  text-decoration: none;
  margin-top: 25px;
}

.links a:hover {
  color: #e71d36;
  border-style: solid;
  border-color: #e71d36;
  border-radius: 10px;
  padding: 5px;
}

.links ul {
  position: relative;
  left: -25%;
  text-decoration: none;
  list-style: none;
}

.links li {
  display: inline-block;
  position: relative;
  top: 12px;
  padding: 0;
  margin: 0;
  width: 15%;
}

.logo img {
  position: relative;
  top: -80px;
  left: 40%;
  display: inline-block;
  width: 225px;
}

main {
  margin-top: 140px;
}

h2 {
  font-size: 32px;
  position: absolute;
  top: 150px;
  left: 100px;
}

main p {
  position: relative;
  top: 100px;
  left: 25px;
  font-size: 18px;
  margin: 50px;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #666a86;
  background-color: white;
  max-width: 55%;
}

main img {
  position: absolute;
  top: 28%;
  right: 8%;
  width: 350px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #666a86;
  width: 100%;
  height: 50px;
}

footer p {
  text-align: center;
  color: aliceblue;
}

/*Media Querys*/

@media screen and (max-width: 1529px) {
  .links a:hover {
    border: none;
  }

  .logo img {
    top: -115px;
  }
}

@media screen and (max-width: 1400px) {
  .logo img {
    left: 30%;
  }

  main img {
    right: 2%;
  }
}

@media screen and (max-width: 1090px) {
  .logo img {
    top: -150px;
  }
  .links li {
    width: 55%;
    top: -20px;
  }

  h2,
  main p {
    position: static;
    margin: auto;
    margin-top: 160px;
    text-align: center;
  }

  main p {
    margin-top: 50px;
  }

  main img {
    position: relative;
    top: 100px;
    left: 35%;
    margin-bottom: 200px;
  }
}
@media screen and (max-width: 700px) {
  main img {
    left: 14%;
  }
}
